* {
    margin: 3px;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: 35%;
}

div {
    display: flex;
    justify-content: center;
}

div.buttons {
    flex-direction: row;
}

img {
    height: 200px;
}

button {
    border: 0;
    border-radius: 5px;
}

p button, p button:hover {
    background-color: white;
}

button:hover {
    background-color: rgb(157, 157, 157);
}